<form [formGroup]="formulario"></form>
<input id="nomeitem" type="text" formControlName="nomeitem" >
<input id="unidade" type="text" formControlName="unidade" >
<input id="quantidade" type="number" formControlName="quantidade" >
<input id="preço" type="number" formControlName="preço" >
<input id="produtoperecivel" type="text" formControlName="produtoperecivel" >
<input id="datavalidade" type="date" formControlName="datavalidade" >
<input id="datafabricação" type="date" formControlName="datafabricação" >
<router-outlet></router-outlet>


